{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Whois edit" %}{% endblock %}
{% block msg %}
<h1>{% trans "Whois edit" %}<h1>

<FORM class="form" ACTION="{% url 'arf.requests.views.rqedit' r.id %}" METHOD="POST">
{% csrf_token %}
{% if r.whoisrecord != None %}
<TEXTAREA NAME="whois" COLS=70 ROWS=7>
{{ r.whoisrecord }}
</TEXTAREA>
<BR>
{% endif %}
Tags: <INPUT TYPE="text" NAME="tags" size="40" VALUE="{% if r.tags != None %}{{ r.tags }}{% endif %}"/>
<BR>
<INPUT class="action" TYPE="submit" VALUE="{% trans "Save All" %}">
</FORM>
{% endblock %}
