{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Request List" %}{% endblock %}
{% block msg %}
{% if prev %}<a class="miniaction" href="{{ prev }}">&lt;</a> {% endif %}
{% for p in pages %}{% if p == cpage %}{{ p }} {% else %}<a href="{{ p }}{% if filter %}?{{ filter }}{% endif %}">{{ p }} </a>{% endif %}{% endfor %}
{% if next %}<a class="miniaction" href="{{ next }}">&gt;</a> {% endif %}
<form action="{% url 'arf.requests.views.rqlist' %}" method="GET">
{% trans "Search by domain substring:" %} <input type="text" name="domsub">
<input class="action" type="submit" value="{% trans "Search" %}">
</form>

{% if filter %}<div class="filter"><a href="1">{% trans "Remove filters" %}</a> {{ filter_desc }}</div>{% endif %}
<form action="{% url 'arf.requests.views.rq' %}" method="POST">
{% csrf_token %}
<input name="page" type="hidden" value="{{ cpage }}">
<table class="rqlist">
{% for r in rlist %}<tr{% if r.rclass %} class="{{ r.rclass }}"{% endif %}>
<td><input type="checkbox" name="{{ r.id }}" value="">
<input type="hidden" name="h{{ r.id }}">
<td><a href="{% if r.rclass == 'dup' %}{% url 'arf.requests.views.rqdom' r.fqdn %}{% elif r.rclass == 'dup2' %}{% url 'arf.requests.views.rqdom' r.fqdn %}{% else %}{% url 'arf.requests.views.rq' r.id %}{% endif %}?page={{ cpage }}">{{ r.id|stringformat:".14s" }}</a><td>{{ r.fqdn }}<td><a href="{% url 'arf.requests.views.rqlist' %}?handle={{ r.contact.handle }}&cpage={{ cpage }}">{{ r.contact.handle }}{{ suffix }}</a><td>{% if r.tags != None %}{{ r.tags }}{% endif %}
{% endfor %}
</table>

<div class="rqaction">
<h3>{% trans "Default action" %}</h3>
  <label for="id_action_1">
  <input id="id_action_1" name="action" type="radio" value="none">{% trans "None" %}
  </label>
  <label for="id_action_2">
  <input id="id_action_2" name="action" type="radio" value="accept" checked="checked">{% trans "Accept" %}
  </label>
  <label for="id_action_3">
  <input id="id_action_3" name="action" type="radio" value="delete">{% trans "Delete quietly" %}
  </label>
  <div class="rqrejectform">{% trans "Reject:" %}
   <label for="id_action_4">
   <input id="id_action_4" name="action" type="radio" value="rejectbog">{% trans "Bogus address" %}
   </label>
   <label for="id_action_5">
   <input id="id_action_5" name="action" type="radio" value="rejectful">{% trans "No full name" %}
   </label>
   <label for="id_action_6">
   <input id="id_action_6" name="action" type="radio" value="rejectnok">{% trans "Already allocated" %}
   </label>
   <label for="id_action_7">
   <input id="id_action_7" name="action" type="radio" value="rejectcust">{% trans "Other" %}
   </label>
  </div>
 <div class="rqcomment">
  {% trans "Optional comment mailed to requester (except for actions None or Delete)" %}
  <div><TEXTAREA NAME="reason" ROWS=3 COLS=77></TEXTAREA></div>
 </div>
</div>

<input class="action" type="submit" name="submitselect" value="{% trans "Open selected" %}">
<input class="action" type="submit" name="submitall" value="{% trans "Open all" %}">
</form>
{% if prev %}<a class="miniaction" href="{{ prev }}">&lt; </a> {% endif %}&nbsp;
{% if next %}<a class="miniaction" href="{{ next }}">&gt;</a> {% endif %}
{% endblock %}
