AuthType Basic
AuthName DnsAdmin
AuthUserFile /usr/local/etc/httpd/conf/.htpasswd
AuthGroupFile /usr/local/etc/httpd/conf/.htgroup

Options ExecCGI

require user pb fcb roberto poland

<Limit POST GET>
</Limit>
