{% extends "base.html" %}{% load i18n %}
{% block title %}{% endblock %}

{% block pagination %}
<div class="pagination">
  <span class="step-links">
    {% if list.has_previous %}
      <a class="miniaction" href="?page=1">&lt;&lt;</a>
      <a class="miniaction" href="?page={{ list.previous_page_number }}">&lt;</a>
    {% endif %}
    {% if list.paginator.num_pages != 1 %}
     <span class="current">
     {{ list.number }}/{{ list.paginator.num_pages }}
     </span>
    {% endif %}
    {% if list.has_next %}
      <a class="miniaction" href="?page={{ list.next_page_number }}">&gt;</a>
      <a class="miniaction" href="?page={{ list.paginator.num_pages }}">&gt;&gt;</a>
    {% endif %}
  </span>
</div>
{% endblock %}
