<!DOCTYPE html>{% load i18n %}
<HTML>
<HEAD>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block inhead %}{% endblock %}
<TITLE>{% block title %}{{ sitename }}{% endblock %}</TITLE>
</HEAD>

<BODY>
<nav class="main">
{% if user.is_authenticated %}
<A HREF="{% url 'domainlist' %}">{% trans "Domains" %}</A>
</nav>
<nav class="profile">
 <span class="handle">{{ user.username }}{{ suffix }}</span>:
 <A HREF="{% url 'chpass' %}">{% trans "Password" %}</A>
 <A HREF="{% url '2fa' %}">{% trans "Two-Factor Authentication" %}</A>
 <A HREF="{% url 'contactchange' %}">{% trans "Information" %}</A>
<FORM class="form" id="id_logoutform" ACTION="{% url 'logout' %}" METHOD="POST">
{% csrf_token %}
<INPUT class="miniaction" TYPE="submit" NAME="logout" VALUE="{% trans "Logout" %}">
</FORM>
{% if is_admin %}
</nav>
<nav class="admin">
 <a href="{% url 'rqlist' %}">{% trans "Requests" %}</A>
 <a href="{% url 'rqloglist' %}">{% trans "Log" %}</A>
 <a href="{% url 'loglist' %}">{% trans "Action log" %}</A>
 <a href="{% url 'special' %}">{% trans "Special" %}</A>
{%if numdom %}{{ numdom }} {% trans "domains" %}{% endif %}
{% endif %}
{% else %}
 <A HREF="{% url 'domainlist' %}">{% trans "Login" %}</A>
{% endif %}
</nav>
<HR>
{% block msg %}{% if msg %}{{ msg }}{% endif %}{% endblock %}
{% block pagination %}{% endblock %}
{% block form %}{% endblock %}
{% block content %}{% endblock %}
</BODY>
</HTML>
