{% extends "base.html" %}
{% block title %}Contact Validation{% endblock %}
{% block h1title %}Contact Validation{% endblock %}
{% block msg %}
Please check that the following is correct, then press the <strong>Validate</strong> button.
<hr>
Contact handle: <strong>{{ handle }}</strong><br>
Contact email: <strong>{{ email }}</strong><br>
{% endblock %}
{% block form %}
<FORM ACTION="{{ posturi }}" METHOD="POST">
{% csrf_token %}
<INPUT TYPE="hidden" NAME="valtoken" VALUE="{{ valtoken }}">
<INPUT TYPE="submit" NAME="submit" VALUE="Validate">
</FORM>
{% endblock %}
