{% extends "base.html" %}
{% block title %}Domain contact modification{% endblock %}
{% block h1title %}Domain contact modification{% endblock %}
{% block msg %}{% if msg %}{{ msg }}<hr>
{% endif %}{% endblock %}
{% block form %}
Whois data for domain <strong>{{ whoisdomain.fqdn }}</strong><P>
<pre class="whoisdisplay">
{{ whoisdisplay }}</pre>
<A HREF="{% url 'arf.whois.views.contactchange' whoisdomain.fqdn %}">Edit registrant data</A>
<hr>
<strong>Remove an existing contact</strong><P>
{% for f in formlist %}
<FORM ACTION="{{ f.posturi }}" METHOD="POST">
{% csrf_token %}
{{ f.contact_type }} contact: {{ f.handle }}
<INPUT TYPE="hidden" NAME="contact_type" VALUE="{{ f.contact_type }}">
<INPUT TYPE="hidden" NAME="handle" VALUE="{{ f.handle }}">
<INPUT TYPE="submit" NAME="submit" VALUE="Delete">
</FORM>
{% endfor %}
<hr>
<strong>Add a new contact</strong><P>
<FORM ACTION="{{ addform.posturi }}" METHOD="POST">
{% csrf_token %}
{% for field in addform.domcontact_form %}{{ field }}
{% endfor %}
<INPUT TYPE="submit" NAME="submit" VALUE="Add">
</FORM>
{% endblock %}
