{% extends "base.html" %}
{% block title %}Domain List for {{ handle }}{% endblock %}
{% block h1title %}Domain List for {{ handle }}{% endblock %}
{% block msg %}
<table class="domainlist">
{% for dds in domds %}<tr><td>{{ dds.0 }}</td><td><A HREF="{% url 'arf.whois.views.domainedit' dds.0 %}">Contacts</A></td><td>{% if dds.1 %}<A HREF="{% url 'arf.dns.views.domainds' dds.0.lower %}">DNSSEC (beta)</A>{% endif %}</td></tr>
{% endfor %}</table>
{% if next %}<a href="{{ next }}">Continue</a>{% endif %}
{% endblock %}
