{% extends "base.html" %}
{% block title %}Domain List{% endblock %}
{% block h1title %}Domain List{% endblock %}
{% block form %}
<a class="action" href="{% url 'arf.dns.views.domainns' %}">New Domain</A>
<table class="domainlist">
<tr><th>Domain</th><th>Created</th><th>Updated</th><th>DNSSEC</th><th>Flags</th></tr>
{% for dds in domds %}
{% if dds.5 and dds.6 %}<tr class="deldom">{% else %}<tr>{% endif %}
<td><a href="{% url 'arf.whois.views.domainedit' dds.0 %}">{{ dds.0 }}</a>
<td>{{ dds.3|date:"o-m-d H:i" }}
<td>{{ dds.4|date:"o-m-d H:i" }}
<td>
{% if dds.2 %}
 {% if dds.1 %}{% if dds.7 %}Delegated{% else %}Eligible{% endif %}
 {% else %}Protected{% endif %}
{% else %}
 Unavailable
{% endif %}
<td>{% if dds.5 and dds.6 %}deleted{% endif %}
<td><A class="miniaction" HREF="{% url 'arf.whois.views.domainedit' dds.0 %}">►</A>
{% endfor %}</table>
{% if next %}<a href="{{ next }}">Continue</a>{% endif %}
{% endblock %}
