{% extends "base.html" %}
{% block title %}EU.org{% endblock %}
{% block h1title %}EU.org{% endblock %}
{% block msg %}{% if msg %}{{ msg }}
{% endif %}{% endblock %}
{% block form %}
<FORM class="form" id="id_loginform" ACTION="{{ posturi }}" METHOD="POST">
{% csrf_token %}
<div>
<label for="id_handle">Handle</label>
<input id="id_handle" maxlength="15" name="handle" type="text" value="-FREE" />
<span class="helptext">Your handle</span>
</div>
<div>
<label for="id_password">Password</label><input id="id_password" maxlength="30" name="password" type="password" />
<span class="helptext">Your password</span>
</div>
{% if next %}<INPUT TYPE="hidden" NAME="next" VALUE="{{ next }}">
{% endif %}
<INPUT class="action" TYPE="submit" NAME="login" VALUE="Login">
</FORM>
<a class="action" href="{% url 'arf.whois.views.contactcreate' %}"><span>Register</span></a>
<div class="loginhelp">
<strong>You can't remember the contact handle or password?</strong>
<ul>
<li>If you forgot your password or never had one, <a href="{% url 'arf.whois.views.makeresettoken' %}">set a new password here</a>.
<li>If you remember your domain name, you can <a href="{% url 'arf.whois.views.contactbydomain' %}">find your contact handle</a>.
</ul>
</div>
{% endblock %}
