{% extends "base.html" %}
{% block title %}Contact Login{% endblock %}
{% block h1title %}Contact Login{% endblock %}
{% block msg %}{% if msg %}{{ msg }}
{% endif %}{% endblock %}
{% block form %}
<FORM ACTION="{{ posturi }}" METHOD="POST">
<TABLE>
{{ form }}
</TABLE>
{% if next %}<INPUT TYPE="hidden" NAME="next" VALUE="{{ next }}">
{% endif %}
<INPUT TYPE="submit" NAME="login" VALUE="Login">
</FORM>
<br>
<strong>You can't remember the contact handle or password?</strong>
<ul>
<li>If you forgot your password or never had one, <a href="{% url 'arf.whois.views.makeresettoken' %}">set a new password here</a>.
<li>If you remember your domain name, you can <a href="{% url 'arf.whois.views.contactbydomain' %}">find your contact handle</a>.
<li>If you have no contact record, <a href="{% url 'arf.whois.views.contactcreate' %}">create one here</a>.
</ul>
{% endblock %}
