{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Contact Validation" %}{% endblock %}
{% block msg %}
<h1>{% trans "Contact Validation" %}</h1>
{% trans "Please check that the following is correct, then press the <strong>Validate</strong> button." %}
<hr>
{% trans "Contact handle: " %}<span class="handle">{{ handle }}</span><br>
{% trans "Contact email: " %}<span class="email">{{ email }}</span><br>
{% endblock %}
{% block form %}
<FORM ACTION="{{ posturi }}" METHOD="POST">
{% csrf_token %}
<INPUT TYPE="hidden" NAME="valtoken" VALUE="{{ valtoken }}">
<INPUT class="action" TYPE="submit" NAME="submit" VALUE="Validate">
</FORM>
{% endblock %}
