{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Domain contact deletion" %}{% endblock %}
{% block form %}{% with username=user.username %}{% blocktrans %}
<strong>WARNING</strong>: by removing yourself (<span class="handle">{{ username }}{{ suffix }}</span>) from
contacts for <span class="domain">{{ fqdn }}</span>, you may lose some or all
of your privileges on this domain.{% endblocktrans %}{% endwith %}
<P>
<FORM ACTION="{{ posturi }}" METHOD="POST">
{% csrf_token %}
<INPUT TYPE="hidden" NAME="contact_type" VALUE="{{ contact_type }}">
<INPUT TYPE="hidden" NAME="handle" VALUE="{{ user.username }}">
<INPUT class="action" TYPE="submit" NAME="submitd" VALUE="{% trans "Confirm Remove" %}">
<INPUT class="action" TYPE="submit" NAME="submit" VALUE="{% trans "Cancel" %}">
</FORM>
{% endblock %}
