{% extends "baselist.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Domain List for {{ handle }}{{ suffix }}{% endblocktrans %}{% endblock %}
{% block msg %}
<div>
<a class="action" href="{% url 'arf.webdns.views.domainns' %}">{% trans "New Domain" %}</A>
</div>
{% endblock %}
{% block form %}
{% if handle != user.username %}<h2>{% blocktrans %}Domain List for {{ handle }}{{ suffix }}{% endblocktrans %}</h2>{% endif %}
<table class="domainlist">
<tr><th>{% trans "Domain" %}</th><th>{% trans "Created" %}</th><th>{% trans "Updated" %}</th><th>DNSSEC</th><th>{% trans "Flags" %}</th></tr>
{% for dds in list %}
{% if dds.5 and dds.6 %}<tr class="deldom">{% else %}<tr>{% endif %}
<td><a href="{% url 'arf.whois.views.domainedit' dds.0 %}">{{ dds.8 }}</a>
<td>{{ dds.3|date:"o-m-d H:i" }}
<td>{{ dds.4|date:"o-m-d H:i" }}
<td>
{% if dds.2 %}
 {% if dds.1 %}{% if dds.7 %}{% trans "Delegated" %}{% else %}{% trans "Eligible" %}{% endif %}
 {% else %}{% trans "Protected" %}{% endif %}
{% else %}
 Unavailable
{% endif %}
<td>{% if dds.5 and dds.6 %}{% trans "deleted" %}{% endif %}
<td><A class="miniaction" HREF="{% url 'arf.whois.views.domainedit' dds.0 %}">►</A>
{% endfor %}</table>
{% if next %}<a href="{{ next }}">{% trans "Continue" %}</a>{% endif %}
{% endblock %}
