{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Domain Edit" %}{% endblock %}
{% block h1title %}{% trans "Domain Edit" %}{% endblock %}
{% block msg %}{% if msg %}{{ msg }}<hr>
{% endif %}{% endblock %}
{% block form %}

{% blocktrans %}Whois data for domain <span class="domain">{{ idna }}</span><P>
Created on: {% endblocktrans %}{{ whoisdomain.created_on|date:"o-m-d H:i" }}
<pre class="whoisdisplay">
{{ whoisdisplay }}</pre>

<div class="domainedits">
<strong>{% trans "Edit" %}</strong>
<table>
<tr>
<td><A class="miniaction" HREF="{% url 'arf.whois.views.contactchange' fqdn %}">{% trans "Registrant" %}</A>
<td><A class="miniaction" HREF="{% url 'arf.webdns.views.domainns' fqdn %}">{% trans "Nameservers" %}</a>
<td>{% if has_ns and can_ds %}<A class="miniaction" HREF="{% url 'arf.webdns.views.domainds' fqdn %}">DNSSEC</A>{% endif %}
<td>{% if registry_hold and end_grace_period %}
<form action="{% url 'arf.whois.views.domainundelete' fqdn %}" method="POST">
{% csrf_token %}
<INPUT class="miniaction" TYPE="submit" NAME="undel" VALUE="{% trans "Undelete (until" %} {{ end_grace_period|date:"o-m-d" }})">
{% else %}
<td><form action="{% url 'arf.whois.views.domaindelete' fqdn %}" method="POST">
{% csrf_token %}
<INPUT class="miniaction" TYPE="submit" NAME="del" VALUE="{% trans "Delete Domain" %}">
{% endif %}
</form>
</table>
</div>

<div class="contactedits">
 <strong>Contacts</strong><P>
 <div class="contactarray">
{% for f in formlist %}
  <FORM ACTION="{{ f.posturi }}" METHOD="POST">
  {% csrf_token %}
  <INPUT TYPE="hidden" NAME="contact_type" VALUE="{{ f.contact_type }}">
  <INPUT TYPE="hidden" NAME="handle" VALUE="{{ f.handle }}">
  <span class="descr">{{ f.contact_type }}</span>
  <span class="descr"><span class="handle">{{ f.handle }}</span></span>
  <INPUT class="miniaction" TYPE="submit" NAME="submitd" VALUE="{% trans "Remove" %}">
  </FORM>
{% endfor %}
  <FORM ACTION="{{ addform.posturi }}" METHOD="POST">
  {% csrf_token %}
  {% for field in addform.domcontact_form %}
    <span class="descr">{{ field }}</span>
  {% endfor %}
  <INPUT class="miniaction" TYPE="submit" NAME="submita" VALUE="{% trans "Add" %}">
  </FORM>
 </div>
</div>

{% endblock %}
