{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ sitename }}{% endblock %}
{% block msg %}{% if msg %}{{ msg }}
{% endif %}{% endblock %}
{% block form %}
<FORM class="form" id="id_loginform" ACTION="{{ posturi }}" METHOD="POST">
{% csrf_token %}
<div>
<label for="id_handle">{% trans "Handle" %}</label>
<input id="id_handle" maxlength="15" name="handle" type="text" value="{{suffix }}" />
<span class="helptext">{% trans "Your handle" %}</span>
</div>
<div>
<label for="id_password">{% trans "Password" %}</label><input id="id_password" maxlength="30" name="password" type="password" />
<span class="helptext">{% trans "Your password" %}</span>
</div>
{% if next %}<INPUT TYPE="hidden" NAME="next" VALUE="{{ next }}">
{% endif %}
<INPUT class="action" TYPE="submit" NAME="login" VALUE="{% trans "Login" %}">
</FORM>
<a class="action" href="{% url 'arf.whois.views.contactcreate' %}"><span>{% trans "Register" %}</span></a>
<div class="loginhelp">
<strong>{% trans "You can't remember the contact handle or password?" %}</strong>
<ul>
<li>{% url 'arf.whois.views.makeresettoken' as urlreset %}{% blocktrans %}If you forgot your password or never had one, <a href="{{ urlreset }}">set a new password here</a>.{% endblocktrans %}
<li>{% url 'arf.whois.views.contactbydomain' as urlbydom %}{% blocktrans %}If you remember your domain name, you can <a href="{{ urlbydom }}">find your contact handle</a>.{% endblocktrans %}
</ul>
</div>
{% endblock %}
