<!DOCTYPE html>
<HTML>
<HEAD>
<link rel="stylesheet" type="text/css" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<TITLE>{% block title %}eu.org{% endblock %}</TITLE>
</HEAD>

<BODY>
<H1>{% block h1title %}{% endblock %}</H1>
<nav class="main">
{% if user.is_authenticated %}
<A HREF="{% url 'arf.whois.views.domainlist' %}">Domains</A>
</nav>
<nav class="profile">
 <span class="handle">{{ user.username }}-FREE</span>:
 <A HREF="{% url 'arf.whois.views.chpass' %}">Password</A>
 <A HREF="{% url 'arf.whois.views.contactchange' %}">Information</A>
 <A HREF="{% url 'arf.whois.views.logout' %}">Logout</A>
{% if is_admin %}
</nav>
<nav class="admin">
 <a href="{% url 'arf.requests.views.rqlist' %}">Requests</A>
{% endif %}
{% else %}
 <A HREF="{% url 'arf.whois.views.domainlist' %}">Login</A>
{% endif %}
</nav>
<HR>
{% block msg %}{% endblock %}
{% block form %}{% endblock %}
{% block content %}{% endblock %}
</BODY>
</HTML>
