<!DOCTYPE html>{% load i18n %}
<HTML>
<HEAD>
<link rel="stylesheet" type="text/css" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block inhead %}{% endblock %}
<TITLE>{% block title %}eu.org{% endblock %}</TITLE>
</HEAD>

<BODY>
<H1>{% block h1title %}{% endblock %}</H1>
<nav class="main">
{% if user.is_authenticated %}
<A HREF="{% url 'arf.whois.views.domainlist' %}">{% trans "Domains" %}</A>
</nav>
<nav class="profile">
 <span class="handle">{{ user.username }}-FREE</span>:
 <A HREF="{% url 'arf.whois.views.chpass' %}">{% trans "Password" %}</A>
 <A HREF="{% url 'arf.whois.views.contactchange' %}">{% trans "Information" %}</A>
 <A HREF="{% url 'arf.whois.views.logout' %}">{% trans "Logout" %}</A>
{% if is_admin %}
</nav>
<nav class="admin">
 <a href="{% url 'arf.requests.views.rqlist' %}">{% trans "Requests" %}</A>
 <a href="{% url 'arf.requests.views.rqloglist' %}">{% trans "Log" %}</A>
 <a href="{% url 'loglist' %}">{% trans "Action log" %}</A>
{%if numdom %}{{ numdom }} {% trans "domains" %}{% endif %}
{% endif %}
{% else %}
 <A HREF="{% url 'arf.whois.views.domainlist' %}">{% trans "Login" %}</A>
{% endif %}
</nav>
<HR>
{% block msg %}{% endblock %}
{% block pagination %}{% endblock %}
{% block form %}{% endblock %}
{% block content %}{% endblock %}
</BODY>
</HTML>
