<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
{% block inlinecss %}{% endblock %}
<HTML>
<HEAD>
<TITLE>{% block title %}eu.org{% endblock %}</TITLE>
</HEAD>
<H1>{% block h1title %}{% endblock %}</H1>

<BODY>
{% block msg %}{% endblock %}
{% block form %}{% endblock %}
{% block content %}{% endblock %}
<HR>
{% if handle %}Logged-in as <strong>{{ handle }}</strong><br>{% endif %}
<A HREF="{{ uribase }}">Home</A>
<A HREF="{{ urichpass }}">Change password</A>
<A HREF="{{ urichange }}">Change information</A>
<A HREF="{{ uridomains }}">Domains</A>
<A HREF="{{ urilogout }}">Logout</A>
</BODY>
</HTML>
