<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
{% block inlinecss %}{% endblock %}
<HTML>
<HEAD>
<TITLE>{% block title %}Title{% endblock %}</TITLE>
</HEAD>
<H1>{% block h1title %}Title{% endblock %}</H1>

<BODY>
{% block msg %}{% endblock %}
{% block form %}{% endblock %}
{% block content %}{% endblock %}
<HR>
<A HREF="http://eu.org/index.html">Home</A>
<A HREF="http://eu.org/opendomains.html">Open domains</A>
<A HREF="http://eu.org/policy.html">General Policy</A>
<A HREF="http://eu.org/register.html">How to register</A>
</BODY>
</HTML>
