{% extends "base.html" %}
{% block title %}Whois edit{% endblock %}
{% block h1title %}Whois edit{% endblock %}
{% block msg %}

<FORM class="form" ACTION="{% url 'arf.requests.views.rqedit' r.id %}" METHOD="POST">
{% csrf_token %}
{% if r.whoisrecord != None %}
<TEXTAREA NAME="whois" COLS=70 ROWS=7>
{{ r.whoisrecord }}
</TEXTAREA>
<BR>
{% endif %}
Tags: <INPUT TYPE="text" NAME="tags" size="40" VALUE="{% if r.tags != None %}{{ r.tags }}{% endif %}"/>
<BR>
<INPUT class="action" TYPE="submit" VALUE="Save All">
</FORM>
{% endblock %}
