{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Request List" %}{% endblock %}
{% block h1title %}{% trans "Request List" %}{% endblock %}
{% block msg %}
{% if prev %}<a class="miniaction" href="{{ prev }}">&lt;</a> {% endif %}
{% for p in pages %}{% if p == cpage %}{{ p }} {% else %}<a href="{{ p }}">{{ p }} </a>{% endif %}{% endfor %}
{% if next %}<a class="miniaction" href="{{ next }}">&gt;</a> {% endif %}
<form action="{% url 'arf.requests.views.rqlistdom' %}" method="GET">
{% trans "Search by domain:" %} <input type="texte" name="domain">
<input class="action" type="submit" value="{% trans "Search" %}">
</form>

<form action="{% url 'arf.requests.views.rq' %}" method="POST">
{% csrf_token %}
<input name="page" type="hidden" value="{{ cpage }}">
<table class="rqlist">
{% for r in rlist %}<tr{% if r.rclass %} class="{{ r.rclass }}"{% endif %}>
<td><input type="checkbox" name="{{ r.id }}" value="">
<input type="hidden" name="h{{ r.id }}">
<td><a href="{% if r.rclass == 'dup' %}{% url 'arf.requests.views.rqdom' r.fqdn %}{% elif r.rclass == 'dup2' %}{% url 'arf.requests.views.rqlistdom' r.fqdn %}{% else %}{% url 'arf.requests.views.rq' r.id %}{% endif %}?page={{ cpage }}">{{ r.id|stringformat:".14s" }}</a><td>{{ r.action }}<td>{{ r.fqdn }}<td><a href="{% url 'arf.requests.views.rqlistemail' r.email %}?page={{ cpage }}">{{ r.email }}</a><td>{% if r.tags != None %}{{ r.tags }}{% endif %}
{% endfor %}
</table>

<input class="action" type="submit" name="submitselect" value="{% trans "Open selected" %}">
<input class="action" type="submit" name="submitall" value="{% trans "Open all" %}">
</form>
{% if prev %}<a class="miniaction" href="{{ prev }}">&lt; </a> {% endif %}&nbsp;
{% if next %}<a class="miniaction" href="{{ next }}">&gt;</a> {% endif %}
{% endblock %}
